  body{
	  overflow: hidden;
  }
  .table > thead > tr > th,
  .table > tbody > tr > th,
  .table > tfoot > tr > th,
  .table > thead > tr > td,
  .table > tbody > tr > td,
  .table > tfoot > tr > td {
      padding: 5px 8px;
      text-align: center;
  }
  .ul-flags {
      list-style: none;
      margin: 0px;
      padding: 0px;
  }
  .color-grey {
      color: #929292;
  }
  .color-blue {
      color: #0089ff;
  }
  .color-green {
      color: yellowgreen;
  }
  .color-red {
      color: red;
  }
  .color-yellow {
      color: #f9d512;
  }
  .icon-edit{
	  font-size: 16px;
	  color:#919191;
	  -webkit-transition: all 0.2s ease;
	  transition: all 0.2s ease;
  }
  .icon-edit:hover{
	  color:#3498db;
  }
  .sidebar-content li ul li a {
      font-weight: 300;
  }
  .sidebar .closed + .opened {
      display: none !important;
  }
  .footer {
      margin-top: 12px;
      color: rgba(255, 255, 255, 0.5);
  }
  .footer span {
      display: block;
      text-align: center;
      width: 100%;
      color: rgba(255, 255, 255, 0.3);
  }
  .footer span a {
      color: rgba(255, 255, 255, 0.5);
  }
  .footer-ul {
      padding: 0px;
      list-style: none;
  }
  .footer-ul li {
      display: block;
      width: 100%;
      text-align: center;
  }
  body[dir='ltr'] .footer-ul .ft-hvr {
      text-align: left;
  }
  body[dir='rtl'] .footer-ul .ft-hvr a i {
      margin-left: 6px;
  }
  body[dir='ltr'] .footer-ul .ft-hvr a i {
      margin-right: 6px;
  }
  body[dir='rtl'] .footer-ul .ft-hvr {
      text-align: right;
  }
  .footer-ul .ft-hvr:hover {
      background-color: rgba(0, 0, 0, 0.2);
  }
  .footer-ul .ft-hvr:hover a {
      color: #fff;
  }
  .footer-ul li.active {
      background-color: rgba(0, 0, 0, 0.2);
  }
  .footer-ul li.active a {
      color: #fff;
  }
  .footer-ul li .ft-a {
      position: relative;
      display: inline-block;
      width: 100%;
      text-decoration: none;
      color: rgba(255, 255, 255, 0.5);
      border-bottom: solid thin rgba(0, 0, 0, 0);
      cursor: pointer;
      padding: 5px 25px 0px 25px;
  }
  .footer-ul li a:hover {
      color: #FFF;
  }
  .navbar h4 {
      display: inline-block;
  }
  .navbar h4 a {
      padding-top: 6px;
      display: block;
  }
  #addMorePD input[type='file'] {
      display: inline-block;
  }
  .previewImg-S {
      width: 250px;
      margin: auto;
      margin-top: 20px;
      display: none;
  }
  #addMorePD .previewImg-S {
      display: inline-block !important;
      vertical-align: top;
      visibility: hidden;
  }
  .panel.white {
      min-height: 300px;
      overflow: hidden;
      width: 100%;
  }
  body[dir='rtl'] .panel.white {
      /* 	width: 99%; */
  }
  .dropzone.dz-clickable {
      border: 2px dashed #0087F7;
      border-radius: 5px;
      background: #fbfbfb;
  }
  .dropzone.dz-clickable:hover,
  .dropzone.dz-clickable:active,
  .dropzone.dz-clickable:focus {
      background-color: #fff;
  }
  .disable-btn {
      background-color: rgba(255, 255, 255, 0.5);
      display: inline-block;
      position: absolute;
  }
  #content-main {
      overflow-x: hidden;
  }
  .tab-content {
      padding-top: 10px !important;
  }
  .alert-danger {
      background-color: #ffbaba;
      border-color: #ffbaba;
      color: #d95252;
  }
  .sortable-tb tr td .drag-handle{
	  content: '.......';
	    width: 20px;
	    height: 40px;
	    display: inline-block;
	    overflow: hidden;
	    line-height: 5px;
	    padding: 3px 0px;
	    cursor: move;
	    vertical-align: middle;
	    margin-top: -.2em;
	    margin-right: .1em;
	    font-size: 20px;
	    font-family: sans-serif;
	    letter-spacing: 0px;
	    color: #cccccc;
/* 	  text-shadow: 1px 0px 1px black; */
  }
    .sortable-tb tr td .drag-handle{
	  position: absolute;
	  display: none;
	  
  }
  .sortable-tb tr td .drag-handle::after {
  	content: '.. .. .. .. .. ..';
  }
  .sortable-tb tr td .drag-handle:hover {
      cursor: -webkit-grabbing;
      color:#9bd3f9;
/*       text-shadow: 1px 0px 1px #3498db; */
  }
  .sortable-tb tr:hover .drag-handle, .sortable-tb tr:active .drag-handle, .sortable-tb tr:focus .drag-handle{
	  display: block;
  }
  body[dir="ltr"] .sortable-tb tr td .drag-handle{
	  float: left;
  }
  body[dir="rtl"] .sortable-tb tr td .drag-handle{
	  float: right;
  }
  .margin-bottom {
      margin-bottom: 10px !important;
  }
  .margin-top{
      margin-top: 10px !important;
  }
  .slimScrollDiv {
      height: calc(100% - 155px) !important;
  }
  .page-title{
	line-height: 25px;
  }
  /*  ******** LTR ********** */
  
  body[dir="ltr"] .menu-track .opened {
      height: auto;
      margin-left: 0%;
      display: block ! important;
  }
  body[dir="ltr"] .form-group label {
      vertical-align: sub;
  }
  body[dir="ltr"] .form-group .no-padding-left {
      padding-left: 0px;
  }
  body[dir="ltr"] .sidebar-content li .opened a {
      padding-left: 55px !important;
  }
  body[dir="ltr"] .sidebar-item-info ul li a {
      padding-left: 32px !important;
  }
  /*  ******** RTL ********** */
  
  body[dir="rtl"] .menu-track .opened {
      height: auto;
      margin-left: 0%;
      display: block ! important;
  }
  body[dir="rtl"] #content-main {
      padding-left: 0px !important;
  }
  body[dir="rtl"] #content-main .row > div,
  body[dir="rtl"] #content-main .row .col-md-12 > div.col-md-3,
  body[dir='rtl'] .fl-right {
      float: right;
  }
  body[dir="rtl"] #content-main .nav.nav-tabs {
      display: flex;
      flex-direction: row;
  }
  body[dir="rtl"] #content-main .nav.nav-tabs li:nth-child(2) {
      order: -1;
  }
  body[dir="rtl"] .modal-footer {
      text-align: left;
  }
  body[dir="rtl"] .nav-tabs > li {
      float: right;
  }
  body[dir="rtl"] .nav-tabs {
      padding: 0px;
  }
  body[dir="rtl"] .table > caption + thead > tr:first-child > th,
  body[dir="rtl"] .table > colgroup + thead > tr:first-child > th,
 /* body[dir="rtl"] .table > thead:first-child > tr:first-child > th, */
  body[dir="rtl"] .table > caption + thead > tr:first-child > td,
  body[dir="rtl"] .table > colgroup + thead > tr:first-child > td,
  body[dir="rtl"] .table > thead:first-child > tr:first-child > td {
      text-align: center;
  }
/* Update by A */
  body[dir="rtl"] .table > thead:first-child > tr:first-child > th{
	  text-align: center;
  }
/* Ends */
  body[dir="rtl"] .sidebar-content li,
  .sidebar-item-info li {
      direction: rtl;
      text-align: right;
  }
  body[dir="rtl"] .navbar .sidebar-toggle {
      margin: -2px 0px 0 15px;
      float: right;
  }
  body[dir="rtl"] .navbar-options > ul > li {
      direction: rtl;
      text-align: right;
  }
  body[dir="rtl"] .navbar-options > ul > li:nth-child(2) a {
      padding-right: 15px !important;
      padding-left: 35px;
  }
  body[dir="rtl"] .form-group > div,
  body[dir="rtl"] .rtl-right {
      float: right;
  }
  body[dir="rtl"] .text-right, body[dir="ltr"] .rtl-ltr-table th, body[dir="ltr"] .rtl-ltr-table td {
      text-align: left;
  }
  body[dir="rtl"] .text-left, body[dir="rtl"] .rtl-ltr-table th, body[dir="rtl"] .rtl-ltr-table td {
      text-align: right;
  }
  .logo-text {
      color: #FFF;
      display: inline-block;
      margin-top: 2px !important;
  }
  .logo-text:hover {
      color: #3498db;
  }
.select2{
    width: 100% !important;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none !important; 
  margin: 0 !important; 
}
/*------------------- LTR FLOATING --------------------
	---------------------------------------------
*/
body[dir='ltr'] .float-left-right{
	float: right;
}
body[dir='ltr'] .float-right-left{
	float: left;
}
/*------------------- RTL FLOATING --------------------
	---------------------------------------------
*/
body[dir='rtl'] .float-left-right{
	float: left;
}
body[dir='rtl'] .float-right-left{
	float: right;
}
.d-inline-block{
	display: inline-block;
}
.add-btn-toolbar{
	    margin: 4px 10px;
		padding: 5px 15px;
}
.add-btn-toolbar+.add-btn-toolbar{
	margin-left: 0px;
	margin-right: 0px;
}
.dataTable.DTFC_Cloned tr {
    background-color: #fff
}
.table-hover>tbody>tr:hover {
    background-color: #f6f6f6!important
}
.dataTables_wrapper input.form-control {
    width: 200px;
    display: inline-block
}
.dataTables_wrapper .dataTables_filter label {
    float: right
}
.dataTables_wrapper select.form-control {
    width: 100px;
    display: inline-block;
    margin-bottom: 30px
}
.dataTables_length {
    float: right!important;
    margin: 0 0px 0 10px
}
a.dt-button {
    display: initial!important
}
th[aria-label=Action] {
    width: 230px!important
}
body[dir=rtl] .dropdown-item i {
    float: right;
    margin: 0 0 0 5px;
}
.toolbar {
    float: right;
    margin: 0 10px;
}
.toolbar .btn {
    font-size: 14px;
    padding: 5px 10px;
    color:#333;
}
.toolbar .dropdown-menu {
    left: -120px
}
.dataTables_wrapper {
    overflow: initial
}
.dataTables_wrapper .row:first-child {
    position: absolute;
    top: -65px;
    width: 100%
}
body[dir="ltr"] .btn-group > .btn:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0
}
body[dir="rtl"] .btn-group > .btn:first-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0
}
.dataTables_wrapper.no-footer .dataTables_scrollBody{
	border-bottom: 1px solid #ddd;
}
.dataTables_scrollBody{
	margin-bottom: 10px;
}
.sidebar-content li ul li{
	position: relative;
}
.add-direct{
	position: absolute;
    height: 40px;
    width: 40px;
    top: 0px;
    padding-top: 10px;
    text-align: center;
    display: inline-block;
    background: transparent;
}
body[dir="ltr"] .add-direct{
	right: 0px;
}
body[dir="rtl"] .add-direct{
	left: 0px;
}
.add-direct i{
	vertical-align: middle;
	color: #fff;
}
.add-direct:hover{
	background-color: #000;
	cursor: pointer;
}
.dropdown-menu > li > a{
	padding: 6px 20px;
}
a.default:not(.note):not(.alert){
	background-color: #f1f1f1 !important;
}
a.control{
	padding: 5px 10px;
	color:#000;
	font-weight: normal;
}
a.current:not(.note):not(.alert), a.default:not(.note):not(.alert):hover{
	background: #3498db !important;
    color: #FFF;
}
.btn-group a.dropdown-toggle{
	color:#565656;
}
.dataTables_scrollBody{
	padding-bottom: 100px;
}

.display-select2{
	display: table;
}
.display-select2 .select2-container{
	display: table-header-group;
}
.display-select2 .parsley-errors-list{
	display: table-footer-group;
}
.display-select2 .select2-container--bootstrap .select2-selection--single .select2-selection__arrow{
	right: 35px !important;
}
.display-select2 ul.parsley-errors-list + .select2 .select2-selection__arrow{
	top: -25px !important;
}

/*------------------- Croppie CSS --------------------
	---------------------------------------------
*/

.crop-image{
	width: 300px;
	height: 300px;
	background-color: #f9f9f9;
    border: 1px dashed #d0d0d0;
	position: relative;
}
.crop-image .editor-file:hover+.ci-preview-labels{
	background-color: #FFF;
}
.cr-viewport.cr-vp-square{
	width: 100% !important;
	height: 100% !important;
}
.cr-boundary .cr-image, .cr-slider-wrap .cr-slider{
	display: none;
}
.crop-image .editor-file {
    cursor: pointer;
    position: absolute;
    opacity: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
}
.z-10{
	z-index: 10;
}
.ci-preview-labels{
	width: 100%;
	position: absolute;
}
.ci-preview-labels {
      height: 100%;
      text-align: center;
      cursor: default;
      display: flex;
      align-items: center;
  }
  .ci-preview-labels div {
      margin: auto;
      color: #b3b3b3;
  }
  .ci-preview-labels i {
      font-size: 3em;
      margin-bottom: 0.5rem;
  }
  .ci-preview-labels p {
      margin: 0px;
      font-size: 13px;
  }
  .ci-preview-labels p a {
      color: #b3b3b3;
  }
  .ci-preview-labels:hover div,
  .ci-preview-labels:hover div p a {
      color: #888;
  }
  .ci-preview-labels div a:hover {
      text-decoration: underline;
  }
  .change-pic {
      position: absolute;
      bottom: 20px;
      color: #212121 !important;
      padding: 5px 10px;
      border-radius: 2px;
      background-color: rgba(255, 255, 255, 0.3);
  }
  .change-pic:hover {
      background-color: rgba(255, 255, 255, 0.7);
  }
  body[dir="ltr"] .change-pic {
      left: 10px;
  }
  body[dir="rtl"] .change-pic {
      right: 10px;
  }
  #content-main > div.row{
	  width: 100%;
  }
  
.dropzone .dz-preview .dz-remove{
	position: absolute;
	top: -10px;
	z-index: 99;
	right: -10px;
	font-size: 1.4em !important;
	padding: 6px;
	border-radius: 50%;
	background-color: rgba(230, 114, 126, 1);
	color: #fff !important;
	line-height: 12px;
	height: 25px;
	width: 25px;
	opacity: 0.8;
	text-decoration:none;
}
.dropzone .dz-preview .dz-remove:hover{
   background-color:#ee5161;
   text-decoration:none;
   opacity: 1;
}
.cropit-image-preview .error-msg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 20px;
    color: #fff;
    background: rgba(210,65,72,0.8);
    line-height: 1.5;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transition: opacity 0.25s;
    -moz-transition: opacity 0.25s;
    -o-transition: opacity 0.25s;
    -ms-transition: opacity 0.25s;
    transition: opacity 0.25s;
    box-sizing: border-box;
}
.ui-state-highlight{
    background-color: #f5f5f5;
    padding-right:10px;
    height:45px;
}
.select2{
    width: 100% !important;
}
div.dataTables_wrapper{
	max-width: 100% !important;
}
#content-main > .row{
	width: 100%;
}
.tab-content{
	padding-top: 0px !important;
}
.cke_contents{
	min-height: 350px !important;
}

body[dir="ltr"] .dropdown-menu{
	left: unset !important;
	right: 0px !important;
}

body[dir="rtl"] .dropdown-menu{
	left: 0 !important;
	right: unset !important;
}
.profile-pic{
  border-radius: 50%;
  width: 40px;
}
  .px-0{
	  padding: 0px !important;
  }
  
.select2-create-button{
    display: block;
    text-align: center;
    padding: 10px;
    background: rgba(237,237,237,1);
    background: -moz-linear-gradient(top, rgb(243, 243, 243) 0%, rgba(246,246,246,1) 53%, rgba(255,255,255,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgb(243, 243, 243)), color-stop(53%, rgba(246,246,246,1)), color-stop(100%, rgba(255,255,255,1)));
    background: -webkit-linear-gradient(top, rgb(243, 243, 243) 0%, rgba(246,246,246,1) 53%, rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(top, rgb(243, 243, 243) 0%, rgba(246,246,246,1) 53%, rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(top, rgb(243, 243, 243) 0%, rgba(246,246,246,1) 53%, rgba(255,255,255,1) 100%);
    background: linear-gradient(to bottom, rgb(243, 243, 243) 0%, rgba(246,246,246,1) 53%, rgba(255,255,255,1) 100%);
    color: #1178bd;
}
  
  .select2-create-button:hover{
	  background-image: none;
	  background-color: #FBFBFB;
  }
  .modal-backdrop{
	  z-index: 1052;
  }
  .modal{
	  z-index: 1055;
  }
  .d-block{
	  display: block !important;
  }
  .d-inline-block{
	  display: inline-block !important;
  }
  .status-group button { 
	  background-image:none; 
	  box-shadow:none; 
	  border:none; 
	  border-radius:9px !important; 
	  font-size:11.844px !important; 
	  font-weight:bold; 
	  padding:1px 7px; 
  }
  .status-group button .caret{
	  margin: 0px 4px;
  }
  body[dir="rtl"] button.close{
		float: left !important;
	}
	.select2-container .select2-search--inline{
		float: none !important;
	}
#totals{
	background: white;
    text-align: center;
/*     box-shadow: 0px 0px 5px 8px gainsboro; */
    padding: 2em;
    margin: 0.5em;
}	
#totals:hover{
	box-shadow: 0px 0px 5px 8px gainsboro;
}	
	
	
	
	
	
	
	
	
	
	
